.header {
  grid-area: header;
  position: relative;
  height: 80px;
  padding: 0 var(--space-8);
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

