aiofiles==25.1.0
aiogram==3.24.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.11.1
attrs==25.4.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==48.0.0
distlib==0.3.9
Django==6.0.5
django-allauth==65.18.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
filelock==3.18.0
frozenlist==1.8.0
google-auth==2.53.0
google-auth-oauthlib==1.4.0
idna==3.18
iniconfig==2.1.0
joblib==1.5.3
lxml==6.1.1
magic-filter==1.0.12
multidict==6.7.0
narwhals==2.22.1
numpy==2.4.6
oauthlib==3.3.1
packaging==25.0
platformdirs==4.3.6
pluggy==1.6.0
propcache==0.4.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.1
PyJWT==2.13.0
pytest==8.4.0
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.2.2
requests==2.34.2
requests-oauthlib==2.0.0
scikit-learn==1.9.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
virtualenv==20.29.3
yarl==1.22.0
