.personal-information {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: fit-content;
}

.user-info {
  width: 100%;
  display: flex;
  gap: var(--space-6);
  /* border: 1px solid red; */
  padding-bottom: var(--space-8);
}

.user-info__table {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.user-info__avatar {
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  width: 100px;
  height: 100px;
  /* aspect-ratio: 1; */
}

.main-row {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.main-row__fullname {
  font-weight: var(--font-weight-semibold);
}

.main-row__role {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.row {
  display: flex;
  gap: var(--space-3);
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}

.btn-row {
  display: flex;
  justify-content: flex-end;
}

.edit-profile-btn {
  font-size: var(--font-size-sm);
  height: 2rem;
  font-weight: var(--font-weight-regular);
  /* justify-content: flex-end; */
  padding: 0px var(--space-6);
  /* align-items: center; */
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
  color: var(--color-primary);
  width: fit-content;
}

.user-info__grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: var(--space-4);
  row-gap: var(--space-1);
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
}