.page-layout-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas: 
    "sidebar header"
    "sidebar main";

  /* position: relative; */
  height: 100vh;
}