.test-question-task {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.question {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.question-text {
  /* font-weight: ; */
}

.options {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.option {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-4);
  
  cursor: pointer;
  /* border: 1px solid red; */
}

.option-text {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
}

.radio {
  padding: 0px;
  margin: 0px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
  accent-color: var(--color-primary);
  cursor: pointer;
}
